@import '../theme.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 18rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.back-button {
  color: white;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  height: calc(100vh - 56px); // TODO compute it
}