@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,800&display=swap');
@import '~@angular/material/theming';
@include mat-core();

/**
 * Variables
 */
$max-width: 1200px;
$color-white: #ffffff;
$color-primary: #20124D;
$color-accent: #E6A199;
$mainFont: 'Poppins';
$weight-lighter: 100;
$weight-normal: 300;
$weight-bold: 800;

$md-mcgpalette0: (
    50: lighten($color-primary, 75),
    100: lighten($color-primary, 66.6666666666%),
    200: lighten($color-primary, 58.3333333333),
    300: lighten($color-primary, 50),
    400: lighten($color-primary, 41.6666666667),
    500: lighten($color-primary, 33.3333333333%),
    600: lighten($color-primary, 25),
    700: lighten($color-primary, 16.6666666667%),
    800: lighten($color-primary, 8.33333333333%),
    900: lighten($color-primary, 0%),
    A100: darken($color-primary, 8.33333333333%),
    A200: darken($color-primary, 16.6666666667%),
    A400: darken($color-primary, 25%),
    A700: darken($color-primary, 33.3333333333%),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50: lighten($color-accent, 75),
    100: lighten($color-accent, 66.6666666666%),
    200: lighten($color-accent, 58.3333333333),
    300: lighten($color-accent, 50),
    400: lighten($color-accent, 41.6666666667),
    500: lighten($color-accent, 33.3333333333%),
    600: lighten($color-accent, 25),
    700: lighten($color-accent, 16.6666666667%),
    800: lighten($color-accent, 8.33333333333%),
    900: lighten($color-accent, 0%),
    A100: darken($color-accent, 8.33333333333%),
    A200: darken($color-accent, 16.6666666667%),
    A400: darken($color-accent, 25%),
    A700: darken($color-accent, 33.3333333333%),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent:  mat-palette($md-mcgpalette1);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

$custom-typography: mat-typography-config(
    $font-family: $mainFont
);
@include angular-material-typography($custom-typography);

/**
 * Generalities
 */
html, body {
  height: 100%;
  width: 100%;
  font-family: $mainFont;
  margin: 0;
  padding: 0;
} 
html {
  background-color: $color-white;
}

h1 {
  color: $color-primary;
  font-weight: $weight-bold;
  font-size: 2.4rem;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

button.submit.mat-raised-button.mat-primary  {
  font-weight: $weight-bold;
  border-radius: 2rem;
  background: linear-gradient(90deg, $color-primary 0%, rgba(116,27,71,1) 100%);
}

/**
 * Navigation
 */
mat-toolbar {
  color: $color-primary !important;
  background-color: transparent !important;
  font-weight: $weight-normal;

  mat-toolbar-row {
    height: auto;
  }
}

.mat-toolbar-dark {
  color: $color-white !important;
}

mat-sidenav-container {
  background-color: $color-white !important;
}

/**
 * Form
 */ 
 mat-form-field {
  width: 100%;
}
