@import '../../theme.scss';

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 14rem;
    width: 100%;
    object-fit: cover
} 

mat-toolbar.mat-toolbar-dark {
    padding-top: 4rem;

    .search-results {
        font-weight: $weight-lighter;
        font-size: .8rem;
        opacity: .8;
    }
}

section.results-container {
    top: 14rem;
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100vh - 14rem);
}

/* card => todo other component */
mat-card {
    mat-icon {
        transform: scale(.7);
    } 

    mat-card-header {
        width: 30%;
        flex-direction: column;
        align-items: center;

        .card-title {
            font-weight: $weight-bold;
        }

        mat-chip {
            min-height: 1.4rem;
            padding: 0.4rem
        }
    }
}

