<img class="header-background" src="assets/search_header.svg">
<mat-toolbar class="mat-toolbar-dark">
  <mat-toolbar-row class="search-results">search results for</mat-toolbar-row>
  <mat-toolbar-row class="travel-title">
    <span>{{departure}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{destination}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<section class="results-container">
  <mat-card>
    <mat-card-header>
      <mat-chip-list>
        <mat-chip><mat-icon>directions_bike</mat-icon>Bike</mat-chip>
      </mat-chip-list>
      <div class="card-title">
        15 min
      </div>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</section>