<section class="home-header">
  <img id="illustration" src="assets/home-v2.svg">
  <div class="application-title">
    <h1>BusOrBike</h1>
    <p class="subtitle">Find your way through Toulouse</p>
  </div>
</section>
<div class="panel">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <input formControlName="departure" matInput placeholder="Departure">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="destination" matInput placeholder="Destination">
    </mat-form-field>
    <div class="flex flex-center">
        <button class="submit" mat-raised-button color="primary">search</button>
    </div>
  </form>
</div>