@import '../../theme.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-header {

  .subtitle {
    margin: 0;
    color: $color-accent;
    font-size:1.2rem;
  }

  .application-title {
    line-height: .9;
  }
}

.panel {
  box-shadow: 0rem 0rem 3rem -0.5rem rgba(10, 10, 10, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
}

@media screen and (min-width: 640px) {
  .home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    img#illustration {
      width: 40%;
      max-width: 26rem;
    }
  }

  .panel {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}